@model IEnumerable<CollegeRoadApplication.Models.SwimmingMeet>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-info">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>Events</th>
            <th>@Html.DisplayNameFor(model => model.Vanue)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var meet in Model)
            {
                <tr>
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("SCO"))
                    {
                        <td>@Html.ActionLink(meet.Name, "Edit", "SwimmingMeet", new { id = meet.Id }, null)</td>
                    }
                    else
                    {
                        <td>@meet.Name</td>
                    }
                    <td>
                        @meet.Date.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink(meet.Name, "AllMeetEvents", "SwimmingEvent", new { id = meet.Id }, null)
                    </td>
                    <td>
                        @meet.Vanue
                    </td>
                    <td>@Html.ActionLink("Delete", "Delete", "SwimmingMeet", new { id = meet.Id }, null)</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="4" class="text-center">No Results Found</td></tr>
        }

    </tbody>
</table>