@model CollegeRoadApplication.ViewModel.MemberFormViewModel

@{
    ViewBag.Title = "MemberForm";
}

<h2>Member Details</h2>

@using (Html.BeginForm("Save", "Member"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.ApplicationUser.Name)
        @Html.TextBoxFor(c => c.ApplicationUser.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ApplicationUser.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ApplicationUser.UserName)
        @Html.TextBoxFor(c => c.ApplicationUser.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ApplicationUser.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ApplicationUser.Email)
        @Html.TextBoxFor(c => c.ApplicationUser.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ApplicationUser.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ApplicationUser.Gender)
        @Html.TextBoxFor(c => c.ApplicationUser.Gender, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ApplicationUser.Gender)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ApplicationUser.ContactNumber)
        @Html.TextBoxFor(c => c.ApplicationUser.ContactNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ApplicationUser.ContactNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ApplicationUser.Age)
        @Html.TextBoxFor(c => c.ApplicationUser.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ApplicationUser.Age)
    </div>
    if (User.IsInRole("Admin") || User.IsInRole("SCO"))
    {
        <div class="form-group">
            @Html.LabelFor(c => c.ApplicationUser.FamilyGroupId)
            @Html.DropDownListFor(c => c.ApplicationUser.FamilyGroupId, new SelectList(Model.FamilyGroups, "Id", "Name"), new { @class = "form-control" })
        </div>
    }

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.ApplicationUser.isAllowedToSwim) Premission to Swim
        </label>
    </div>
    if (User.IsInRole("Admin") || User.IsInRole("SCO"))
    {
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(c => c.ApplicationUser.IsArchived) Archived
            </label>
        </div>
    }


    @Html.HiddenFor(m => m.ApplicationUser.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}