@model CollegeRoadApplication.ViewModel.AllMeetEventsViewModel
@{
    ViewBag.Title = "AllMeetEvents";
}

<h2>All Events for @Model.SwimmingMeet.Name</h2>


<div class="row">
    <div class="col-sm-12">
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("SCO"))
        {
            @Html.ActionLink("New Event", "New", "SwimmingEvent", null, new { @class = "btn btn-primary" })
        }

    </div>
</div>
<hr />

@if (!Model.SwimmingEvents.Any())
{
    <p>
        No Events have been added yet!
    </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead class="bg-info">
            <tr>
                <th>Event</th>
                <th>Distance</th>
                <th>Gender</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var race in Model.SwimmingEvents)
            {
                <tr>
                    <td>@Html.ActionLink(race.Name, "Edit", "SwimmingEvent", new { id = race.Id }, null)</td>
                    <td>@race.Distance</td>
                    <td>@race.Gender</td>
                    <td>@race.AgeRange</td>
                </tr>

            }
        </tbody>
    </table>
}
