@model CollegeRoadApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Gender)
        @Html.TextBoxFor(c => c.Gender, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Gender)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ContactNumber)
        @Html.TextBoxFor(c => c.ContactNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ContactNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Age)
        @Html.TextBoxFor(c => c.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Age)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Email)
        @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.UserName)
        @Html.TextBoxFor(c => c.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Password)
        @Html.PasswordFor(c => c.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ConfirmPassword)
        @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ConfirmPassword)
    </div>

    <div class="form-group">
        @Html.Label("User Role")
        @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")

    </div>

     <input type="submit" class="btn btn-default" value="Register" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
